<mat-toolbar>
    Messenger
    <div class="flex-stretch"></div>
    <div class="profile-" *ngIf="profile$ | async as profile">
        {{ profile.username }} [{{ profile.id }}]
    </div>
    <button mat-icon-button [mat-menu-trigger-for]="themeMenu">
        <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        @for (theme of themeService.getThemes(); track theme.name) {
            <button 
                [class.selected-theme]="themeService.selectedTheme()?.name === theme.name"
                mat-menu-item
                (click)="themeService.setTheme(theme.name)">
                <mat-icon>{{ theme.icon }}</mat-icon>
                <span>{{ theme.name | titlecase }}</span>
            </button>
        }
    </mat-menu>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>