<div class="dialog-container">
    <div class="header">
        <h2 mat-dialog-title>Информация о чате
            <button mat-icon-button (click)="toggleEditing()" class="edit-toggle">
                <mat-icon>{{ isEditing ? 'close' : 'edit' }}</mat-icon>
            </button>
        </h2>
    </div>
    <mat-dialog-content>
        
        <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input 
                matInput 
                [(ngModel)]="chat.name" 
                [disabled]="!isEditing">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea
                matInput 
                [(ngModel)]="chat.description" 
                [disabled]="!isEditing">
            </textarea>
        </mat-form-field>

        <p><strong>Чат создан:</strong> {{ chat.createdAt | date:'short' }}</p>
        <p><strong>Тип чата:</strong> {{ chat.type}}</p>

        <h3 class="title-users">Участники</h3>
        <mat-list>
            <mat-list-item matRipple *ngFor="let user of users">
                <div class="userItem">
                    <div class="leftPart">
                        <mat-icon>person</mat-icon>
                        <span>{{ user.username }}</span>
                    </div>

                    <div class="rightPart">
                        <mat-icon *ngIf="user.id === chat.creatorId">military_tech</mat-icon>
                        <button mat-icon-button (click)="deleteUser(user)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>

        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="primary" *ngIf="isEditing" (click)="saveChanges()">Сохранить</button>
        <button mat-button mat-dialog-close>Закрыть</button>
    </mat-dialog-actions>
</div>