<mat-toolbar>
    <button *ngIf="!showSidebarButton" mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    ВТелеграмме
    <div class="flex-stretch"></div>
    <button mat-icon-button [mat-menu-trigger-for]="themeMenu">
        <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
    </button>
    <div class="profile-wrapper" *ngIf="profile$ | async as profile">
        <button mat-icon-button (click)="openProfileDialog(profile)">
            <mat-icon>account_circle</mat-icon>
        </button>
        <span class="profile-label">{{ profile.username }}</span>
    </div>
    <button *ngIf="profile$ | async as profile" mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
    
    <mat-menu #themeMenu="matMenu">
        @for (theme of themeService.getThemes(); track theme.name) {
            <button 
                [class.selected-theme]="themeService.selectedTheme()?.name === theme.name"
                mat-menu-item
                (click)="themeService.setTheme(theme.name)">
                <mat-icon>{{ theme.icon }}</mat-icon>
                <span>{{ theme.name | titlecase }}</span>
            </button>
        }
    </mat-menu>
</mat-toolbar>