@use '@angular/material' as mat;

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--mat-sys-outline);
}

.chat-title {
  flex: 1;
}

.chat-actions {
  display: flex;
  gap: 5px;
}

.messages-container {
  flex: auto; 
  background: var(--mat-sys-surface-container-low);
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
}

mat-list-item {
  border-radius: 0.8em;
  padding: 0px 8px !important;
  height: auto !important;
  width: fit-content !important; /* Ширина зависит только от содержимого */
  max-width: 80%;
  min-width: 10%;
  background: var(--mat-sys-surface-container-high);
}

mat-list-item.right-aligned {
  align-self: flex-end; /* Привязывает элемент к правому краю внутри flex-контейнера .messages */
}

.message-content {
  
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
}

.message-sender {
  font-size: 14px;
}

.message-text {
  text-wrap: wrap;
}

.timestamp {
  font-size: 12px;
  color: var(--mat-sys-on-surface-variant);
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
}

.input-field {
  flex: 1;
  max-width: 100%;
}

.mat-form-field {
  width: 100%;
}

.no-chat {
  text-align: center;
  color: var(--mat-sys-on-surface-variant);
  margin-top: 20px;
}
