<mat-sidenav-container>
  
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" (closedStart)="sidenavOpened = false">
    <div class="chat-controls">
      <button mat-flat-button color="accent" (click)="openPrivateChatDialog()">Начать диалог</button>
      <button mat-flat-button color="accent" (click)="openGroupChatDialog()">Новый чат</button>
    </div>
    
    <app-chat-list></app-chat-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>