<div class="dialog-container">
    <div class="header">
        <h2 mat-dialog-title>Информация о пользователе
            <button mat-icon-button (click)="toggleEditing()" class="edit-toggle">
                <mat-icon>{{ isEditing ? 'close' : 'edit' }}</mat-icon>
            </button>
        </h2>
    </div>
    <mat-dialog-content>
        
        <mat-form-field appearance="outline">
            <mat-label>Ник</mat-label>
            <input 
                matInput 
                [(ngModel)]="user.username" 
                [disabled]="!isEditing">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Почта</mat-label>
            <input 
                matInput 
                [(ngModel)]="user.email" 
                [disabled]="!isEditing">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea
                matInput 
                [(ngModel)]="user.username" 
                [disabled]="!isEditing">
            </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input 
                matInput 
                [(ngModel)]="password" 
                [disabled]="!isEditing">
        </mat-form-field>

        <p><strong>Аккаунт создан:</strong> {{ user.createdAt | date:'short' }}</p>

        <!-- <h3 class="title-chats">Мои чаты</h3>
        <mat-list>
            <mat-list-item matRipple *ngFor="let user of chats">
                <div class="userItem">
                    <span>{{ user.username }}</span>
                    <button mat-icon-button (click)="deleteUser(user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list> -->

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="primary" *ngIf="isEditing" (click)="saveChanges()">Сохранить</button>
        <button mat-button mat-dialog-close>Закрыть</button>
    </mat-dialog-actions>
</div>