<div class="chat-container" 
*ngIf="chatId; else noChat">
  <div class="chat-header"
    matRipple
    (click)="openChatDetails($event)">
    <div class="chat-title">
      {{ chat?.name || 'Загрузка...' }}
    </div>
    <div class="chat-actions">
      <button mat-icon-button (click)="openChatDetails($event)"><mat-icon>edit</mat-icon></button>
      <button *ngIf="chat?.creatorId === curId" mat-icon-button (click)="onDeleteChat($event)"><mat-icon>delete</mat-icon></button>
      <button *ngIf="chat?.type === 'GROUP'" mat-icon-button (click)="openAddPerson($event)"><mat-icon>person_add</mat-icon></button>
    </div>
  </div>
  <div class="messages-container"
    ><!-- (click)="goToLink('https://xn--80aabtwbbuhbiqdxddn.xn--p1ai/')" -->

    <mat-list class="messages">
      <mat-list-item class="message-item" 
        *ngFor="let message of messages$ | async" 
        [ngClass]="{'right-aligned': message.senderId === curId}"
        [cdkContextMenuTriggerFor]="messageMenu"
        (contextmenu)="setCurrentMessage($event, message)"
        (click)="setCurrentMessage($event, message)">
        <!-- <img [src]="message.avatarUrl || 'default-avatar.png'" class="message-avatar" alt="Avatar"> -->
        <div class="message-content">
          <div class="message-header">
            <strong>{{ usersMap.get(message.senderId)?.username ?? 'unknown' }}</strong>
            <span class="timestamp">{{ message.sentAt | date:'dd.MM.YYYY | HH:mm:ss' : 'ru' }}</span>
          </div>
          <span class="message-text">{{ message.content }}</span>
        </div>
      </mat-list-item>
    </mat-list>

    <button mat-button class="load-more-btn" (click)="loadMoreMessages()">Загрузить ещё</button>

  </div>

  <ng-template #messageMenu>
    <div class="message-popup-menu" cdkMenu>
      <button mat-menu-item (click)="editMessage()" >
        <mat-icon>edit</mat-icon> Редактировать
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="deleteMessage()" cdkMenuItem>
        <mat-icon>delete</mat-icon> Удалить
      </button>
    </div>
  </ng-template>
  
  
  <div class="message-input">
    <mat-form-field appearance="outline" class="input-field">
      <input 
      matInput 
      [(ngModel)]="newMessage" 
      (keyup.enter)="sendMessage()" 
      placeholder="Type a message">
      <mat-hint align="start" [ngClass]="{ 'error-hint': showErrorHint }">{{newMessage.length || 0}} / 10000</mat-hint>
      <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<ng-template #noChat>
  <p class="no-chat">Выберете чат для начала общения</p>
</ng-template>