<div class="dialog-container">
    <h2 mat-dialog-title>{{ 'Изменение сообщения' }}</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <textarea 
                matInput 
                [(ngModel)]="message.content">
            </textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="primary" (click)="saveChanges()">Сохранить</button>
        <button mat-button mat-dialog-close>Закрыть</button>
    </mat-dialog-actions>
</div>
