<div class="dialog-container">
    <h2 mat-dialog-title>{{ data.isGroup ? 'Создать групповой чат' : 'Создать приватный чат' }}</h2>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Поиск по нику" [(ngModel)]="searchQuery" (input)="filterUsers()">
        </mat-form-field>
        <mat-list>
            <mat-list-item matRipple *ngFor="let user of filteredUsers"
                (click)="toggleUserSelection(user)" [ngClass]="{'selected-user': user.selected}">
                <div class="user-item">
                    <span>{{ user.username }}</span>
                    <mat-checkbox *ngIf="data.isGroup" [(ngModel)]="user.selected" (click)="$event.stopPropagation()"></mat-checkbox>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Закрыть</button>
        <button mat-raised-button color="primary" (click)="createChat()">Создать</button>
    </mat-dialog-actions>
</div>