.dialog-container {
    width: 100%;
}

mat-card-content {
    padding: 0.5em 0.5em !important;
}

.selected-users-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
  }


.selected-user-item {
    height: auto;               /* Устанавливает автоматическую высоту, чтобы она не превышала минимальный размер */
    width: auto;                /* Устанавливает автоматическую ширину, чтобы она не превышала минимальный размер */
    padding: 0.5px 0.5em;
}

mat-dialog-content {
    width: 100% !important;
}

mat-form-field {
    width: 100%;
}

mat-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

mat-list-item {  
    border-radius: 10px;

    &.selected-user {
        background: var(--mat-sys-primary-container) !important; 
        color: var(--mat-sys-on-primary-container) !important;
    }

    &:hover {
        background: var(--mat-sys-surface-container-low); 
    }
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    user-select: none;
}